{% extends 'layouts/header.html' %} 
{%block content%}
{% load static %}

<body class="inicio">

<div class="cuerpo">
<div class="image-container">
    <a href="pagina1.html"><img src="{% static 'imagenes/Lasaña-ini.png' %}" alt="Imagen 1"></a>
    <a href="pagina2.html"><img src="{% static 'imagenes/Pollo-ini.png' %}" alt="Imagen 2"></a>
    <a href="pagina3.html"><img src="{% static 'imagenes/Galletas-ini.png' %}" alt="Imagen 3"></a>
</div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {{ cards_html | safe }}
    </div>
</div>



<p>Website created by 0somens</p>

</body>

{%endblock%}