{% extends 'layouts/header.html' %} 
{%block content%}
{% load social_share %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Receta.Nombre }}</title>
</head>
<body>
    {{cards_html|safe}}


    <h1>Agrega un comentario</h1>
    {{comentar_html|safe}}
    
    {% comment %} ELEGIR ENTRE EK DE ARRIBA Y EL DE ABAJO {% endcomment %}

    <form method="POST"> <!--Se puede obviar action cuando este envia a la misma url-->
        {% csrf_token %}
        <input type="hidden" name="Receta_ID" value="{{ receta_id }}">
        <div class="container row">
            <div class="col">
                <div class="mb-3">
                    <textarea class="form-control" name="Comentario" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <input type="hidden" name="Receta_ID" value="{{ receta_id }}">
                </div>
                <input type="submit" value="Enviar">
            </div>


        <div class="col d-flex justify-content-end">
            <h1>¡Comparte esta receta!</h1>
            {% post_to_facebook object_or_url "Post to Facebook!" %}
            {% post_to_twitter "Prueba esta receta: " object_or_url "Post to Twitter" %}
            {% post_to_reddit "Prueba esta recta:" object_or_url %}
        </div>
    </div>
    </form>
</body>
</html>
{%endblock%}