{% extends 'layouts/header.html' %} 
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container-fluid">
    <h1> Formulario Login</h1>
    <form method="POST" action="/register">
        {% csrf_token%}
        <!-- {{form.as_p}} -->
        <label for="user">Usuario</label>
        <input type="text" name="user" id="user" required>
        <label for="password1">Contraseña</label>
        <input type="password" name="password1" id="password1" required>
        <label for="password2">Repita Contraseña</label>
        <input type="password" name="password2" id="password2" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <button>
            Registrarse
        </button>
    </form>
    <p>¿Ya tienes cuenta? <a href="{% url 'login'%}">Inicia sesión</a></p>
</body>
</html>
{%endblock%}
```