{% extends 'layouts/header.html' %} 
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container-fluid">
    <h1> Formulario Login</h1>
    <form method="POST">
        {% csrf_token%}
        {{form.as_p}}
        {% comment %} Email {% endcomment %}
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        {% comment %} Contraseña {% endcomment %}
        <button>
            Registrarse
        </button>
    </form>
    <p>¿Ya tienes cuenta? <a href="{% url 'login'%}">Inicia sesión</a></p>
</body>
</html>
{%endblock%}
```